
<div ng-controller='myCtrl' align="center">
	<div class="page-header">
      <h1>WDM Project 1</h1>
    </div>

	
	<button class="btn btn-primary" ng-click='getdata()'>Get Population</button>

	<div>
		
		<table class="table table-striped" >
			<thead ng-show= "cities">
				<tr>
					<th>#</th>
					<th>City Name</th>
					<th>Population</th>
					<th>State</th>
					<th>Nation</th>
				</tr>
			</thead>
			<tbody ng-repeat="city in cities">
				<tr>
					<th >{{city.id}}</th>
					<td>{{city.name}}</td>
					<td>{{city.population}}</td>
					<td>{{city.state}}</td>
					<td>{{city.nation}}</td>
				</tr>
			
			</tbody>
		</table>
	</div>

	<div id="map"></div>

</div>